.field {
  margin-top: 24px;
  display: flex;
  flex-direction: column;

  .label {
    font-size: 14px;
    font-weight: var(--regular);
    padding-bottom: 8px;
  }

  .input {
    border-radius: var(--border-radius);
    border: 1px solid #d6d9e6;
    padding: 15px 16px;

    &::placeholder {
      font-family: var(--medium);
      font-size: 16px;
    }
  }
}
