.header__title {
  color: #022959;
  font-size: 32px;
  font-family: var(--bold);
  padding-bottom: 12px;
}

.header__subtitle {
  color: #9699aa;
  font-family: var(--regular);
  padding-bottom: 16px;
}
